/* Параметры для экранов меньше 1024px */
@media (max-width: 1024px) {
	.right {

		.right__block {
			.right__title {
				&::after {
					display: none;
				}
			}

			.education {
			flex-direction: column;

				.graduate {
					&:first-child {
						margin: 0 0 20px 0;
					}
				}
			}

			.projects {
				.projects__item {
					.projects__tags {
						display: flex;
						gap: 4px;
						flex-wrap: wrap;
					}
				}
			}
		}

	}
}

/* Параметры для экранов меньше 768px */
@media (max-width: 768px) {
	.wrapper {
		flex-direction: column;
	}

	.main {
		.main__items {
			flex-direction: column;
			align-items: center;

			.main__item {
				&:first-child {
					margin: 0 0 40px 0;
				}
			}
		}
	}

	.left {
		width: 100%;

		.info {
			.info__content {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	.right {
		.right__block {
			.right__title {
				&::after {
					width: 0;
				}
			}
		}
	}
}

/* Параметры для экранов меньше 426px */
@media (max-width: 426px) {
	.main {
		.main__items {
			.main__item {
				.main__img {
					width: 240px;
					height: 240px;
				}
			}
		}
	}

	.right {
		padding: 60px 40px;
	}
}