@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;500;700;900&display=swap');

// Переменные  
$purple: #827BB6;
$darkblue: #324060;
$blue: #4659A8;
$dirtyblue: #81ABCC;
$lightblue: #EFF5FA;



// Миксины

$max-width: 1280;

@mixin resp-font($pcSize, $mobileSize) {
	$addSize: $pcSize - $mobileSize;
	$addMobileSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px) {
		font-size: calc(#{$mobileSize + px} + #{$addMobileSize} * ((100vw - 320px) / #{$max-width}));
	}
	@media (min-width: 767px) {
		font-size: calc(#{$mobileSize + px} + #{$addSize} * (100vw / #{$max-width}));
	}
}


/* ------ Оболочка  ------ */

html,body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 400;
	color: $darkblue;
	line-height: 1.5;
	position: relative;
}

/* ------ Контейнеры ------ */

.container{
  max-width: 1100px;
  margin: 0px auto;
  padding: 0 30px;
}

.content {
  /* Контент занимает всё место между header и footer */
  flex: 1 1 auto;
}


/* ------ Header ------ */

.header {
	padding: 30px 0;
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;

	transition: 0.3s ease 0s;

	.header__body {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.header__logo a {
			text-decoration: none;
			font-family: Fredoka One;
			font-size: 24px;
			color: $purple;
		}
		.header__logo a:hover {
			font-size: 25px;
			transition: 0.5s ease 0s;
		}

		.header__menu {

			.header__list {
				display: flex;

				.header__link a {
					text-decoration: none;
					font-weight: 700;
					color: $dirtyblue;
					position: relative;

					margin: 0px 0px 0px 30px;
				}

				.header__link a:hover {
					color: $darkblue;
					transition: 0.3s ease 0s;
				}

				.header__link a:active {
					color: $darkblue;
					transition: 0.3s ease 0s;
				}

				.header__link a::before {
					content: "";
					position: absolute;
					display: block;
					top: -15px;
				}

				.header__link a:hover::before {
					top: -34px; 
					left: 0;
					width: 100%; 
					height: 4px; 
					background: $darkblue;

					transition: 0.5s ease 0s;
				}

			}
		}
	}

}

/* Фон меню при прокрутке */

.header.bg {
		background: #fff;
		padding: 20px 0;
}


/* ------ Content-start ------ */

/* ------ Home ------ */

.home {
	position: relative;
	height: 100vh;

	.home__bg1 {
		display: none;
	}

	.home__bg2 {
		display: none;
	}

	.home__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		height: 100vh;

		.home__supertitle {
			color: $blue;
			font-size: 18px;
			font-weight: 500;
			margin: 0px 0px 10px 0px;
		}
		.home__title {
			font-weight: 900;
			@include resp-font(48, 30);
			margin: 0px 0px 20px 0px;
		}
		.home__subtitle {
			color: $blue;
			@include resp-font(24, 20);
			font-weight: 700;
			margin: 0px 0px 20px 0px;
		}
		.home__small-title {
			line-height: 1.5;
			margin: 0px 0px 20px 0px;
		}
		.home__btn a {
			display: inline-block;
			text-decoration: none;
			border-radius: 5px;

			background: $dirtyblue;
			color: $lightblue;
			font-weight: 700;

			padding: 12px 26px;

			transition: 0.3s ease 0s;
		}
		.home__btn a:hover {
			background: $blue;
		}
	}

}


/* ------ About ------ */

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: relative;

	margin: 0px 0px 160px 0px;

	.about__bg {
		display: none;
	}

	.about__title {
		margin: 0px 0px 80px 0px;

		text-align: center;
		@include resp-font(35, 30);
		font-weight: 900;
	}
	.about__body {
		.about__desc {
			margin: 0px 0px 40px 0px;

			display: flex;
			align-items: center;

			.about__text {
				margin: 0px 40px 0px 0px;
				.about__text-title {
					margin: 0px 0px 10px 0px;

					@include resp-font(24, 20);
					font-weight: 700;
				}
				.about__content {
					@include resp-font(20, 14);
				}
			}
			.about__img {
				flex: 0 0 33.333%;
				max-width: 240px;
				position: relative;

				.about__substrate {
					position: absolute;
					top: -1%;
					left: -2%;
					z-index: -1;

					transform: rotate(5.12deg) scale(1.1);
				}
			}
			.about__img img {
				width: 100%;
			}
		}
		.about__skills {
			
			.about__skills-title {
				margin: 0px 0px 10px 0px;
				text-align: center;
				@include resp-font(24, 20);
				font-weight: 700;
			}
			.about__progress {
				.about__item {
					margin: 0px 0px 10px 0px;
					.about__item-title {
						margin: 0px 0px 10px 0px;

						display: flex;
						justify-content: space-between;

						@include resp-font(18, 16);
						font-weight: 900;
						.about__name {}
						.about__name svg {
							color: $blue;
							width: 22px;
							height: 22px;
							margin: 0px 10px 0px 0px;
							transform: translate(0, 18%);
						}
						.about__procent {}
					}

					.about__scale {
						height: 6px;
						background: rgba(129, 171, 204, 0.5);
						border-radius: 20px;
					}
					.about__scale {
						.about__first {
							display: block;
							height: 100%;
							background: $blue;
							border-radius: 20px;

							width: 86%;
						}
						.about__second {
							display: block;
							height: 100%;
							background: $blue;
							border-radius: 20px;

							width: 56%;
						}
						.about__third {
							display: block;
							height: 100%;
							background: $blue;
							border-radius: 20px;

							width: 93%;
						}

					}

				}
			}
		}
	}
}


/* ------ Portfolio ------ */

.portfolio {
	position: relative;
	margin: 0px 0px 160px 0px;
	.portfolio__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.portfolio__bg {
			display: none;
		}
		.portfolio__title {
			margin: 0px 0px 80px 0px;

			text-align: center;
			@include resp-font(35, 30);
			font-weight: 900;
		}

		.portfolio__gallery {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;

			.portfolio__item {
				max-width: 280px;
				background: $purple;
				position: relative;

				transition: 0.3s ease 0s;

				.portfolio__desc {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					display: flex;
					flex-direction: column;
					align-items: center;

					.portfolio__icon {
						max-width: 20px;
						margin: 0px 0px 10px 0px;
					}
					.portfolio__icon img {
						opacity: 1;
						width: 100%;
					}
					.portfolio__name {
						text-align: center; 

						color: $lightblue;
						@include resp-font(18, 12);
						font-weight: 700;
					}
				}
			}

			.portfolio__item:nth-child(odd) {
				background: $blue;
			}

			.portfolio__item img {
				opacity: 0.1; 
				width: 100%;
			}

			.portfolio__item img:hover {
				opacity: 1;
			}
			
			.portfolio__item:hover {
				background: none;

				.portfolio__desc {
					display: none;
				}
			}

		}
	}
}


.contact {
	margin: 0px 0px 160px 0px;
	.contact__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.contact__title {
			margin: 0px 0px 80px 0px;

			text-align: center;
			@include resp-font(35, 30);
			font-weight: 900;
		}
		.contact__icons {
			display: flex;
			.contact__icon {
				
				margin: 0px 30px 0px 0px;
				
			}
			.contact__icon a {
				width: 40px;
				height: 40px;
				display: block;
				background: $blue;
				transition: 0.3s ease 0s;
			}
			.contact__icon a:hover {
				background: $darkblue;
			}
			.contact__icon:nth-child(1) {
				mask-image: url('../img/icons/whatsapp.svg');
			}
			.contact__icon:nth-child(2) {
				mask-image: url('../img/icons/telegram.svg');
			}
			.contact__icon:nth-child(3) {
				mask-image: url('../img/icons/vk.svg');
			}
			.contact__icon:nth-child(4) {
				mask-image: url('../img/icons/insta.svg');
			}
			.contact__icon:last-child {
				margin: 0;
			}
		}
	}
}


/* ------ Content-end ------ */


/* ------ Footer ------ */

.footer {
	background: $dirtyblue;
	color: $lightblue;

	padding: 60px 0;

	.footer__body {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.footer__info {
			.footer__name {
				font-family: "Fredoka One";
				@include resp-font(35, 30);

				margin: 0px 0px 4px 0px;
			}
			.footer__position {
				font-weight: 700;
				@include resp-font(20, 16);

				margin: 0px 0px 10px 0px;
			}

			.footer__icons {
				display: flex;

				.footer__link {
					margin: 0px 10px 0px 0px;
				}

			}

		}
		.footer__menu {
			display: flex;
			flex-direction: column;
			@include resp-font(16, 14);

			.footer__list {	
				.footer__link {
					margin: 0px 0px 10px 0px;
				}
				.footer__link a {
					font-weight: 700;
					color: $lightblue;

					transition: all 0.2s ease 0s;
				}
				.footer__link a:hover {
					border-bottom: 3px solid $lightblue;
				}
			}

		}
	}
}


@import "media.scss";