@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


:root {
    --color-text-primary: #0D4CAC;
    --color-text-secondary: #2384E7;
    --color-text-accent: #1AB742;
    --color-background-primary: #1D3A67;
    --font-family-primary: "Montserrat";
    --font-family-secondary: "Nunito";
}

body {
    margin: 0;
    font-family: var(--font-family-primary), sans-serif;

    background: linear-gradient(90deg, rgb(42, 105, 171) 0%, rgb(32, 127, 97) 100%);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@keyframes bounceImg {
    0% {
        transform: scaleY(0.8);
    }
    80% {
        transform: scaleY(1.2) translateY(-4px);
    }
    100% {
        transform: scaleY(1);
    }
}

.popover-tooltip {
    position: absolute;
    background: white;
    color: var(--color-text-primary);
    padding: 12px;
    border-radius: 6px;
    z-index: 10;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 300px;
}


.popover-tooltip .popover-tooltip__title {
    font-weight: 600;
    font-size: 14px;
}

.popover-tooltip .popover-tooltip__content {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
}

.popover-tooltip::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.popover-tooltip[data-position="bottom"]::after {
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent white transparent;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
}

.popover-tooltip[data-position="top"]::after {
    border-width: 6px 6px 0 6px;
    border-color: white transparent transparent transparent;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
}

.popover-tooltip[data-position="left"]::after {
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent white;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
}

.popover-tooltip[data-position="right"]::after {
    border-width: 6px 6px 6px 0;
    border-color: transparent white transparent transparent;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
}

